node_modules/
build/
dist/
**/build/
**/dist/
zip/
examples/
**/public/reclaim-browser-extension-sdk/
*.min.js
*.min.css
*.bundle.js
*.bundle.css
**/*.png
**/*.jpg
**/*.jpeg
**/*.gif
**/*.svg
**/*.ico
coverage/
.tmp/
.DS_Store
